{% extends 'layout.html' %}

{% block scripts %}

    <script>
      var $ = function (id) {
        return document.getElementById(id);
      };
      var urlParams = new URLSearchParams(window.location.search);
      var id = urlParams.getAll('id')[0]

      // get an initial list of open request relevant to that mentor
      var requestList = "{{ requestList }}"
      var find = '&#39;';
      var re = new RegExp(find, 'g');
      requestList = requestList.replace(re, '');
      console.log(requestList)

      // open the web socket connection for more requests
      var ws = new WebSocket("ws://localhost:7777/matcherNotifications/" + id);

      ws.onopen = function() {
        console.log('mentor connection opened.');
      };

      ws.onmessage = function (evt) {
        requestList = evt.data
      };

    </script>


  <style>
h2 {
  text-align: center;
  font-weight: 100;
  font-size: 3em;
}

  </style>

{% end %}
{% block content %}


  <body>

    <div class="col-sm-4">
      <br>
      <br>
        <h2> Hey Mentor, here are tutoring requests in your area : </h2>

    </div>



  </body>

{% end %}
