{% extends 'layout.html' %}

{% block scripts %}
    <style>
h2 {
  text-align: center;
  font-weight: 100;
  font-size: 3em;
}
    </style>

    <script>
      var $ = function (id) {
        return document.getElementById(id);
      };

      var urlParams = new URLSearchParams(window.location.search);
      var id = urlParams.getAll('id')[0]

      var ws = new WebSocket("ws://localhost:7777/matcherNotifications/" + id);
      
      ws.onopen = function() {
        console.log('opened.');
      };


     
      ws.onmessage = function (evt) {
       alert(evt.data);
      };

    </script>

    <script>

    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }
    function showPosition(position) {
      var lon = document.querySelector('#lon');
      lon.setAttribute("value", position.coords.longitude)
      var lat = document.querySelector('#lat');
      lat.setAttribute("value", position.coords.latitude)
    }

    getLocation();

    (function() {
  var customBackground = document.getElementById("customBackground");
  function addDropdownClass(e) {
    var target = e.target;
    if (target) {
      if (target.nodeName.toLowerCase() === "label") {
        target.parentElement.classList.toggle("active");
      }
    }
  }
  function toggleBackgroundClass(e) {
    var target = e.target;
    if (target) {
      var backgroundClass = target.getAttribute("id");
      if (customBackground) {
        customBackground.className = backgroundClass;
      }
    }
  }
  var customDropdown = document.getElementById("customDropdown");
  if (customDropdown) {
    customDropdown.addEventListener("click", addDropdownClass);
  }
  var customInputs = document.getElementsByClassName("custom-input");
  if (customInputs) {
    Array.prototype.forEach.call(customInputs, function(el, i) {
      el.addEventListener("change", toggleBackgroundClass);
    });
  }
})();
 </script>
  </head>

  {% end %}
  {% block content %}


    <div class="col-sm-4">
      <br>
      <br>
        <h2> Request a Tutor </h2>
    </div>

<div class="container mt-5 p-4 bg-light" style="border:1px solid grey; border-radius:10px; box-shadow:0 0 10px 1px grey" >

  <div class="row" >
    <div class="col-12">
    <p class="mt-1" style="font-size: 17px"><strong>Please enter the information below.</strong></p>
    </div>
    <form method = "POST" action="/getMentors">
    <div class="col-4">
            <label for="subject"><strong>Subject: </strong></label>
            <select id = "subject" name="subject">
                <option value="cs">Computer Science</option>
                <option value="history">History</option>
                <option value="dance">Mathematics</option>
                <option value="math">Dance</option>
            </select>
            <br>
    </div>
  </div>


  <div  class="row" >
      <div class="col-4">
        <br>
            <label for="time"><strong>Expected tutoring time: </strong></label>
               <select id = "time" name="time">
                <option value="15">15 min</option>
                <option value="30">30 min</option>
                <option value="45">45 min</option>
                <option value="1">1 hour</option>
                <option value="more1">More than 1 hour</option>
            </select>
            <br>
            <br>
    </div>
  </div>


    <div class="row">
    <div class="col-4">
      <label for="exampleFormControlTextarea1"><strong>Explain to your tutor what you need help with: </strong></label>
    <textarea name="message"  placeholder="Enter message"  class="form-control" id="exampleFormControlTextarea1" rows="5"> </textarea>
    </div>
  </div>

            <input hidden type="text" id="lon" name="lon" value="0">
            <input hidden type="text" id="lat" name="lat" value="0">
            <input hidden type="hidden" name="_id" value="{{ _id }}"> 
            <input type="submit" value="Submit Tutor Request" class="btn btn-primary  mt-4 mb-4" style="width:100%">
  </form>

</div>

{% end %}
